.main {
  @extend %margin-bottom-lg;

  .site-search {
    margin-bottom: $gap * 3;
  }

  .user-login {
    margin-bottom: $gap * 4;
  }
}

.user-login {
  position: relative;
  &__tabs {
    position: absolute;
    top: 0;
    right: 10px;
    border: none;
    a {
      padding: 14px 5px 12px !important;
      color: #dddddd;
      border: none !important;
      background-color: transparent !important;
    }
    .active a {
      color: #ffffff !important;
    }
  }
}
.new-films {
  &-title {
    margin-top: -5px;
  }

  &-row {
    margin-left: -$gap / 2;
    margin-right: -$gap / 2;
  }

  &-item {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
    margin-bottom: $gap;

    &__thumbnail {
      margin-bottom: 0;
    }
  }
}


